<section class="admin-dashboard">
  <h2 class="section-title">Панель <span class="font-red">Администратора</span></h2>
  <div class="container">
    <div class="wrapper-row">
      <div class="card">
        <div class="icon">
          <i class="material-icons">today</i>
        </div>
        <h6 class="title">Конструктор Программы Фестиваля</h6>
        <p class="thesis">Создание и редактирование программы фестиваля по дням</p>
        <a href="/admin/program" class="btn round">Открыть</a>
      </div>
      <div class="card">
        <div class="icon">
          <i class="material-icons">edit</i>
        </div>
        <h6 class="title">Редактирование контента страниц</h6>
        <p class="thesis">Ресторанный дворик, ВФ для детей и т.д</p>
        <a href="/admin/pages" class="btn round">Открыть</a>
      </div>
      <div class="card">
        <div class="icon">
          <i class="material-icons">shopping_basket</i>
        </div>
        <h6 class="title">Управление страницей с Сувенирами</h6>
        <p class="thesis">Создание и редактирование товаров</p>
        <a href="/admin/shop" class="btn round">Открыть</a>
      </div>
      <div class="card">
        <div class="icon">
          <i class="material-icons">assignment_turned_in</i>
        </div>
        <h6 class="title">База Заказов</h6>
        <p class="thesis">Просмотр текущих и завершенных заказов</p>
        <a href="/admin/orders" class="btn round">Открыть</a>
      </div>
      <div class="card">
        <div class="icon">
          <i class="material-icons">photo</i>
        </div>
        <h6 class="title">Фотографии / Альбомы</h6>
        <p class="thesis">Создание и редактирование фотографий и альбомов</p>
        <a href="/admin/albums" class="btn round">Открыть</a>
      </div>
      <div class="card">
        <div class="icon">
          <i class="material-icons">email</i>
        </div>
        <h6 class="title">Рассылки по базе email</h6>
        <p class="thesis">Создание рассылок (день программы, объявления)</p>
        <a href="/admin/email" class="btn round">Открыть</a>
      </div>
    </div>
  </div>
</section>