<section class="profile">
  <h2 class="section-title">Личный <span class="font-red">Кабинет</span></h2>
  <div class="container">
    {{user.name}}
    <br>
    {{user.email}}
    {{user.iAdmin}}
  </div>

</section>