<footer>
  <div class="subsciption">
    <div class="container">
      <div class="subsciption-title">
        <h6 class="font-black regular"><span class="font-red bold">Подпишитесь</span>, чтобы ничего не пропустить</h6>
      </div>
      <form class="sub-on-newsletter" action="">
        <input class="footer-sub-input" type="email" name="email_sub">
        <button type="submit">
          <i class="material-icons">send</i>
        </button>
      </form>
    </div>
  </div>
  <div class="contacts">
    <div class="container">
      <ul class="icons-list">
        <a href="#" class="icon">
          <i class="fab fa-vk"></i>
        </a>
        <a href="#" class="icon">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="icon">
          <i class="fab fa-instagram"></i>
        </a>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p>Developed & Designed by <span class="font-red">Bragin Vlad</span></p>
    </div>
  </div>
</footer>