{{#if success_msg}}
  <div class="alert-container">
  {{#each success_msg}}
    <div class="alert alert-success">
      <i class="material-icons">done</i>  
      <p class="error-text">{{msg}}</p> 
    </div>          
  {{/each}}
  </div>
{{/if}}
{{#if error_msg}}
<div class="alert-container">
  {{#each error_msg}}
    <div class="alert alert-danger">
      <i class="material-icons">error_outline</i>  
      <p class="error-text">{{msg}}</p>  
    </div>   
  {{/each}}  
</div>
{{/if}}
