<nav class="fixed-navigation-top">
  <div class="container">
    <h6 class="nav-title font-black">
      <i id="openSidebar" class="material-icons">menu</i>
      <a style="font-size: 20px;" class="font-black" href="/">#венский<span class="font-red">фестиваль</span> </a>
    </h6>
    <div class="nav-weather-and-cart">
        <div class="nav-weather"></div>
        <div class="nav-cart">
          <img id="open-cart" src="/images/cart.svg" alt="">
          <div class="cart-round-qty">{{session.cart.totalQty}}</div>
          <div class="hidden-cart">
            <i id="close-cart" class="fas fa-times"></i>
            <h6>Всего в корзине: </h6>
            <p class="number qty">{{session.cart.totalQty}} шт</p>
            <h6>Итоговая цена: </h6>
            <p class="number price">{{session.cart.totalPrice}} рублей</p>
            <a href="/shop/cart" class="btn round">Перейти в корзину</a>
            {{#if user}}
            <a href="/shop/checkout" class="btn round">Оформить заказ</a>
            {{/if}}
          </div>
        </div>
    </div>
  </div>
</nav>
<aside class="sidebar">
  <i id="closeSidebar" class="material-icons">close</i>
  <div class="logotype">
    <img src="/images/logo_sidebar.png" alt="">
  </div>
  <ul class="menu">
    <a class="link font-black regular" href="/" class="link">
      <i class="material-icons">home</i>
      Главная
    </a>
    <a class="link font-black regular" href="/program" class="link">
      <i class="material-icons">music_note</i>
      Программа Фестиваля
    </a>
    <a class="link font-black regular" href="/page/restaurant" class="link">
      <i class="material-icons">restaurant</i>
      Ресторанный Дворик
    </a>
    <a class="link font-black regular" href="/page/children" class="link">
      <i class="material-icons">child_care</i>
      Фестиваль Детям
    </a>
    <a class="link font-black regular" href="/shop" class="link">
      <i class="material-icons">shopping_basket</i>
      Сувениры
    </a>
    <a class="link font-black regular" href="/albums" class="link">
      <i class="material-icons">photo</i>
      Фото
    </a>
    <a class="link font-black regular" href="/page/about" class="link">
      <i class="material-icons">info</i>
      О фестивале
    </a>
    {{#if user.isAdmin}}
    <a class="link font-black regular" href="/admin" class="link">
      <i class="material-icons">dashboard</i>
      Админ Панель
    </a>
    {{/if}}
    {{#if user}}
    <a class="link font-black regular" href="/users/current" class="link">
      <i class="material-icons">dashboard</i>
      Личный кабинет
    </a>
    <a class="link font-black regular" href="/users/logout" class="link">
      <i class="material-icons">exit_to_app</i>
      Выйти
    </a>
    {{else}}
    <a class="link font-black regular" href="/users/auth" class="link">
      <i class="material-icons">person</i>
      Войти / Регистрация
    </a>
    {{/if}}
  </ul>
</aside>

{{!-- <script src="/js/weather.js"></script> --}}