.shop {
  .card-shop {
    width: 320px;
    height: 320px;
    .image {
      max-width: 100%;
      margin: 0;
    }
    p {
      text-align: center;
    }
    .shop-description {
      padding: 10px;
      text-align: center;
    }
  }
}