// 1 Section
.welcome-hero {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  background-color: $white;
  overflow: hidden;
  .container {
    height: calc(100vh - 80px);
  }
  .welcome-hero {
    @include center(both);
    top: 45%;
    object-fit: cover;
    @include screen(phone) {
      top: 30%;
      width: 600px;
      height: 350px;    
    }
    @media screen and (min-height: 600px) {
      width: 800px;
      height: 550px;
      top: 40%;
    }
    @media screen and (min-height: 600px) and (max-width: 480px) {
      width: 800px;
      height: 550px;
      top: 40%;
    }
  }
  .welcome-counter {
    width: auto;
    height: auto;
    margin: auto auto 100px auto;
    @include screen(phone) {
      width: 280px;
      height: auto;       
    }
    .counter {
      color: #fff;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      background-color: $red;
      box-shadow: 0 4px 30px $red;
      grid-gap: 5px;
      .counter-number {
        width: 90px;
        height: 90px;        
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include screen(phone) {
          width: 65px;
          height: 65px;   
          font-size: 25px;      
        }
        span {
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include screen(phone) {
            width: 40px;
            height: 40px;         
          }
        }
      }
      .smalltext{
        font-size: 12px;
    }
    }
  }
  .scroll-down {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $red;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 20px;
    }
  }
}

// 2 Section
.welcome-info {
  margin-top: 20px;
  height: auto;
  min-height: 50vh;
}

// 4 Section
.welcome-map {
  margin-top: 20px;
  .container {
    height: auto;
    @include screen(desktop) {
      height: 100vh;
    }
    @include screen(tablet-wide) {
      height: 70vh;
    }
  }
  img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    @include screen(phone) {
      height: 50vh;
    }
  }
}

// 5,6 Section
.welcome-sponsors,
.welcome-supporters,
.welcome-organisators,
.welcome-mediapart {
  .wrapper-row {
    margin-top: 15px;
    .card {
      width: 300px;
      height: 200px;
    }
  }
}