<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Венский Фестиваль</title>
  {{!-- GLOBAL CSS --}}
  <link rel="stylesheet" href="/styles/css/style.min.css">
  {{!-- GOOGLE MATERIAL ICONS --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  {{!-- FONT AWESOME ICONS --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <div class="overlay"></div>
  
  {{>navbar}}
  
  <main>
    {{{body}}}
  </main> 

  {{>footer}}


  {{!-- MENU SCRIPT --}}
  <script src="/js/menu.js"></script>
</body>
</html>