<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Венский Фестиваль 2019</title>
  <meta name="description" content="Венский фестиваль музыкальных фильмов. Венский фестиваль, ЕКАТЕРИНБУРГ. Лучшие классические музыкальные произведения со всего мира на открытой площадке">
  {{!-- GLOBAL CSS --}}
  <link rel="stylesheet" href="/styles/css/style.min.css">
  {{!-- GOOGLE MATERIAL ICONS --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  {{!-- FONT AWESOME ICONS --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <div class="overlay"></div>
  {{>navbar}}
  
  <main>
    {{>msg}}
    {{{body}}}
  </main> 

  {{>footer}}

  {{!-- JQUERY --}}
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  {{!-- CART JS --}}
  <script src="/js/cart.js"></script>
  {{!-- MENU SCRIPT --}}
  <script src="/js/menu.js"></script>
  {{!-- ALERT --}}
  <script>
    $('.alert').delay(3500).hide(0);
  </script>
</body>
</html>