{{#each welcome}}
<section class="welcome-hero">
  {{#each image}}
  <img src="/uploads/{{image}}" alt="" class="welcome-hero">
  {{/each}}
  <div class="container">
    <div class="welcome-counter" time="{{time}}">
      <div id="clockdiv" class="counter">
        <div class="counter-number">
          <span class="days"></span>
          <div class="smalltext upper light">Дней</div>
        </div>
        <div class="counter-number">
          <span class="hours"></span>
          <div class="smalltext upper light">Часов</div>
        </div>
        <div class="counter-number">
          <span class="minutes"></span>
          <div class="smalltext upper light">Минут</div>
        </div>
        <div class="counter-number">
          <span class="seconds"></span>
          <div class="smalltext upper light">Секунд</div>
        </div>
      </div>
    </div>
  </div>
  <a href="#information" class="scroll-down">
    <i class="font-white material-icons">arrow_downward</i>
  </a>
  <a class="fixed-round-button font-white upper bold" href="/program">
    <i class="material-icons">today</i>
  </a>
</section>

<section id="information" class="welcome-info">
  <h2 class="section-title">О <span class="font-red">Фестивале</span></h2>
  <div class="container">
    <div class="wrapper-row">
      <div class="card">
        <div class="icon">
          <i class="material-icons">calendar_today</i>
        </div>
        <h6 class="title text-center">Когда?</h6>
        <p class="thesis text-center">
         С 3 по 27 июля 2019 года
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <i class="material-icons">location_on</i>
        </div>
        <h6 class="title text-center">Где?</h6>
        <p class="thesis text-center">
          г. Екатеринбург, ул. Мира 19, 
          <br>
          площадь перед главным корпусом УрФУ
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <i class="material-icons">access_time</i>
        </div>
        <h6 class="title text-center">Во сколько?</h6>
        <p class="thesis text-center">
          Ежедневно с 20:00
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <i class="material-icons">money_off</i>
        </div>
        <h6 class="title text-center">Вход бесплатный</h6>
        <p class="thesis text-center">
          Во все дни Фестиваля
        </p>
      </div>
    </div>
  </div>
</section>

<section class="welcome-map">
  <h2 class="section-title">Схема <span class="font-red">Фестиваля</span></h2>
  <div class="container">
    <img src="/images/welcome-map.jpg" alt="">
  </div>
</section>

<section class="welcome-sponsors">
  <h2 class="section-title">Наши Золотые <span class="font-red">Спонсоры</span> </h2>
  <div class="container">
    <div class="wrapper-row">
      <a href="https://www.ugmk.com" class="card" target="_blank">
        <img src="/images/sponsor-logo-ummc.png" alt="" class="image">
      </a>
      <a href="http://ssk-ur.ru/" class="card" target="_blank">
        <img src="/images/sponsor-logo-ssk.png" alt="" class="image">
      </a>
    </div>
  </div>
</section>

<section class="welcome-supporters">
  <h2 class="section-title">При  <span class="font-red">поддержке</span></h2>
  <div class="container">
    <div class="wrapper-row">
      <a href="https://xn--80acgfbsl1azdqr.xn--p1ai/" class="card" target="_blank">
        <img src="/images/supporer-ekb.jpg" alt="" class="image">
      </a>
      <a href="https://ekt.rt.ru/" class="card" target="_blank">
      <div class="card-image-wrapper">
        <img src="/images/partner_rostelecom.png" alt="" class="image">
      </div>
    </a>
    </div>
  </div>
</section>

<section class="welcome-organisators">
  <h2 class="section-title font-red">Организаторы</h2>
  <div class="container">
    <div class="wrapper-row">
      <a href="https://www.imz.at/" class="card" target="_blank">
      <div class="card-image-wrapper">
        <img src="/images/organisator-imz.jpg" alt="" class="scalable-image">
      </div>
      </a>
      <a href="https://urfu.ru/" class="card" target="_blank">
        <img src="/images/organisator-urfu.jpg" alt="" class="image">
      </a>
      <a href="http://www.akfmo.org/" class="card" target="_blank">
        <div class="card-image-wrapper">
          <img src="/images/organisator-acf.jpg" alt="" class="scalable-image">
        </div>
      </a>
      <a href="http://www.hkat-ekb.ru/ru/" class="card" target="_blank">
      <div class="card-image-wrapper">
        <img src="/images/organisator-ac.jpg" alt="" class="super-scalable-image">
      </div>        
      </a>
    </div>
  </div>
</section>

<section class="welcome-mediapart">
  <h2 class="section-title"><span class="font-red">Медиапартнеры</span> </h2>
  <div class="container">
    <div class="wrapper-row">
      <a href="https://momenty.org/" class="card" target="_blank">
        <div class="card-image-wrapper">
          <img src="/images/partner_mom.jpg" alt="" class="super-scalable-image">
        </div>
      </a>
      <a href="http://www.tele.ru/" class="card" target="_blank">
        <div class="card-image-wrapper">
          <img src="/images/partner_tele.jpg" alt="" class="scalable-image">
        </div>
      </a>
      <a href="https://vibirai.ru/" class="card" target="_blank">
        <div class="card-image-wrapper">
          <img src="/images/partner_vibi.jpg" alt="" class="super-scalable-image">
        </div>
      </a>
      <a href="https://www.studio-41.com/" class="card" target="_blank">
        <div class="card-image-wrapper">
          <img src="/images/partner_41.jpg" alt="" class="scalable-image">
        </div>
      </a>
      <a href="https://eanews.ru/" class="card" target="_blank">
      <div class="card-image-wrapper">
        <img src="/images/partner_ean.jpg" alt="" class="scalable-image">
      </div>
      </a>
      <a href="http://www.rataksa.ru/" class="card" target="_blank">
        <div class="card-image-wrapper">
          <img src="/images/partner_taksa.jpg" alt="" class="super-scalable-image">
        </div>
      </a>
      <a href="http://www.silver.ru/" class="card" target="_blank">
        <div class="card-image-wrapper">
          <img src="/images/partner_silver.jpg" alt="" class="scalable-image">
        </div>
      </a>
      <a href="http://www.channel4.ru/" class="card" target="_blank">
        <div class="card-image-wrapper">
          <img src="/images/partner_4.png" alt="" class="scalable-image">
        </div>
      </a>
    <a href="http://www.sobaka.ru/ekb" class="card" target="_blank">
        <div class="card-image-wrapper">
          <img src="/images/partner_sobaka.jpg" alt="" class="scalable-image">
        </div>
      </a>
    </div>
  </div>
</section>

<script src="/js/welcome.js"></script>
{{/each}}