<section class="shop">
  <h2 class="section-title">Сувениры</h2>
  <p class="section-thesis">Про прокат Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam non adipisci velit rerum. Expedita, voluptatum?</p>
  <div class="container">
    <div class="wrapper-row">
      <div class="card card-shop hoverable">
      <div class="card-overlay">
          <h6 class="font-white">Какой то товар</h6>
          <p class="shop-description font-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ipsa saepe nobis est, facere optio minima voluptate eius voluptates vitae.</p>
          <a href="#" class="btn round">Купить</a>
        </div>
        <img src="/images/stub-1.jpg" style="margin-top: 0" alt="" class="image">
        <h6 class="title">Какой-то товар</h6>
        <p class="thesis">1800 рублей</p>
      </div>
    </div>
  </div>
</section>