<section class="about-main">
 <h2 class="section-title">О <span class="font-red">Фестивале</span></h2>
<h6 class="section-thesis">~СМОТРИ МУЗЫКУ~ВЕНСКИЙ ФЕСТИВАЛЬ МУЗЫКАЛЬНЫХ ФИЛЬМОВ</h6>
  <div class="container">
    <p>
      Праздник музыки под открытым небом! Видео записи опер и концертов, собранных на лучших мировых площадках, мы транслируем ежедневно на большом экране.  
      Лето 2019 года – особенное. Фестиваль пройдет в десятый раз и по такому случаю музыкальное счастье продлится почти месяц! С 3 по 27 июля, каждый вечер с 20:00 площадь перед главным корпусом УрФУ будет заполнена горожанами и гостями Екатеринбурга, теми, кто знает все о наслаждении жить: кто любит музыку, любит летние прогулки и общение с друзьями, любит вкусно и с удовольствием поужинать на свежем воздухе.
    </p>
    <p>
      Каждый находит занятие по душе. Слушать и смотреть в “зрительном зале”, разместившись на стульях или на трибунах. Пробовать вкусности и болтать с друзьями в ресторанном дворике, где работают лучшие рестораны, бары и кафе. Тусоваться на детской площадке, если возраст позволяет. Или валяться на пледе и наслаждаться тем, что происходит вокруг.
    </p>
    <p>
      По традиции на открытии фестиваля звучит живая музыка в исполнении лучших музыкальных коллективов. В этом году 3 июля встречаем JANOSKA ENSEMBLE | Ансамбль Яношка из Вены. Блестящие музыканты, которые играют классическую музыку в своеобразном стиле, позволяя себе импровизацию и оставаясь при этом верными духу композитора! Скрипачи Ондрей и Роман, пианист Франтишек и контрабасист Юлиус Дарвасома приедут со специальной программой, в которой соседствуют Бах и Рахманинов, Моцарт и Джон Леннон. 
    </p>
    <p>
      Закрывает фестиваль Dj-парад! В остальные дни зрители  увидят уникальные музыкальные фильмы, услышат лучших музыкантов и лучшие голоса планеты. 
      Следите за программой. Создавайте собственную программу в личном кабинете. Отмечайте в календаре, чтобы ничего не пропустить. И просто назначайте все вечерние встречи июля сами знаете где.
    </p>
    <p>
      Смотрим музыку этим летом, как и все последние 10 лет!
      Официальный хэштег <span class="font-red">#венскийфестиваль</span>   
    </p> 
  </div>
</section>

<section class="about-info">
   <h2 class="section-title"><span class="font-red">Контакты</span></h2>
   <div class="container">
     <ul class="contacts-list">
       <li>OOO: "Венский фестиваль"</li>
       <li>ИНН: 6685060986</li>
       <li>ОГРН: 1146685020536</li>
       <li>Телефон: +7 (343) 350-05-03</li>
       <li>Описание деятельности компании: деятельность в области искусства, концертных и театральных залов, ярмарок и парков с аттракционами, прочая зрелищно-развлекательная деятельность, прочая деятельность по организации отдыха и развлечений</li>
     </ul>
   </div>
</section>

<section class="about-documents">
  <h2 class="section-title">Пользовательское <span class="font-red">Соглашение</span></h2>
  <div class="container">
    <div class="wrapper-row">
      <div class="card">
        <img src="/images/word_logo.png" alt="" class="image">
        <h6 class="title">Пользовательское соглашение</h5>
        <a href="/docs/polz_soglashenie.docx" class="btn round" download>Скачать</a>
      </div>
    </div>
  </div>
</section>