<section class="album-single">
  <h2 class="section-title">{{album.title}}</h2>
  <div class="container">
    <div class="grid">
      {{#each album.images}}
        <img src="/uploads/{{image}}" alt="">
      {{/each}}
    </div>
  </div>
</section>